@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>



<div class="container-barra-progresso">
    <div class="barra-progresso-vazia">
        <div class="barra-progresso">

        </div>
    </div>
    <div class="porcentagem-barra-progresso">

    </div>
</div>



<!-- Importacao do Jquery -->
<script src="~/lib/jquery/dist/jquery.js"></script>

<!-- Importacao do JavaScript -->
<script src="~/js/BarraProgresso.js"></script>

<!-- Importacao do CS -->
<link href="~/css/BarraProgresso.css" rel="stylesheet" />