@{
    ViewData["Title"] = "NProgresso";
}

@*<h1>@ViewData["Title"]</h1>*@

<br /><br /><br /><br />
<br /><br /><br /><br />
<div class="container-fluid">
    
    <div class="row">
        <input id="iniciar" type="button" style="min-width:150px" value="Iniciar" class="btn btn-primary" />
    </div>
    <br />

    <div class="row">
        <input id="iniciar2" type="button" style="min-width:150px" value="Iniciar 2" class="btn btn-primary" />
    </div>
    <br />

    <div class="row">
        <input id="valor" type="button" style="min-width:150px" value="Definir Valor" class="btn btn-primary" />
    </div>
    <br />

    <div class="row">
        <input id="finalizar" type="button" style="min-width:150px" value="Finalizar" class="btn btn-primary" />
    </div>
    <br />

</div>


<!-- Importacao do Jquery -->
<script src="~/lib/jquery/dist/jquery.js"></script>

<!-- Importacao do JavaScript -->
<script src="~/js/BarraProgressoComNProgresso.js"></script>

