@{
    ViewData["Title"] = "";
}


<h1>Botao Upload</h1>




<div class="container-botao" id="bth-upload">
    <div class="botao-upload-vazio">
        <div class="descricao-botao">Upload</div>
        <div class="botao-upload-porcentagem" id="porcentagem-upload"></div>
    </div>
</div>





<!-- Importacao do Jquery -->
<script src="~/lib/jquery/dist/jquery.js"></script>

<!-- Importacao do JavaScript -->
<script src="~/js/BotaoUploadBarraProgresso.js"></script>

<!-- Importacao do CS -->
<link href="~/css/Botaouploadbarraprogresso.css" rel="stylesheet" />