@{
    ViewData["Title"] = "";
}

<div class="col-sm-12">
    <div class="divConteudo">
        <div class="divCustomizavel" id="div1">
            <a class="resizeButton"></a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="~/css/DivsEditaveis.css" rel="stylesheet" />
<script src="~/js/DivsEditaveis.js"></script>




