@{
    ViewData["Title"] = "";
}

<div class="container">
   
    <input type="button" id="btnSalvar" value="Salvar" class="btn btn-info" />
    <input type="button" id="btnRecarregar" value="Recarregar" class="btn btn-info" />

    <div class="divConteudo">

        <div class="divcustomizavel" id="div1">
            <a class="resizeButton" id="Adiv1"></a>
        </div>

        <div class="divcustomizavel" id="div2">
            <a class="resizeButton" id="Adiv2"></a>
        </div>

        <div class="divcustomizavel" id="div3">
            <a class="resizeButton" id="Adiv3"></a>
        </div>

        <div class="divcustomizavel" id="div4">
            <a class="resizeButton" id="Adiv4"></a>
        </div>

    </div>

</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="~/css/DivsEditaveis.css" rel="stylesheet" />
<script src="~/js/DivsEditaveis.js"></script>




