@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="titulo">
    <h1>Efeito3D</h1>
</div>

<div class="conteudo">
    <div class="foto">
        <img src="~/img/aspcore.png" />
        <img src="~/img/aspcore.png" />
        <img src="~/img/aspcore.png" />
        <img src="~/img/aspcore.png" />
    </div>
</div>


<link href="~/css/Efeito3D.css" rel="stylesheet" />