@{
    ViewData["Title"] = "";
}
@*<h1>@ViewData["Title"]</h1>*@

<div class="titulo">
    Gráfico de Barra Mundo Dev - Marcos Keller
</div>

<div class="corpo">

    <div class="container-barra-progresso-1" id="gridColuna">

        <div class="barra-progresso-vazia-1">
            <div class="barra-progresso-1"></div>
        </div>

        <div class="porcentagem-barra-progresso-1">
            <span class="porcentagemTitulo">90%</span>
        </div>
    </div>

    <div class="container-barra-progresso-1">

        <div class="barra-progresso-vazia-1">
            <div class="barra-progresso-1"></div>
        </div>

        <div class="porcentagem-barra-progresso-1">
            <span class="porcentagemTitulo">90%</span>
        </div>
    </div>

    <div class="container-barra-progresso-1">

        <div class="barra-progresso-vazia-1">
            <div class="barra-progresso-1"></div>
        </div>

        <div class="porcentagem-barra-progresso-1">
            <span class="porcentagemTitulo">90%</span>
        </div>
    </div>

    <div class="container-barra-progresso-1">

        <div class="barra-progresso-vazia-1">
            <div class="barra-progresso-1"></div>
        </div>

        <div class="porcentagem-barra-progresso-1">
            <span class="porcentagemTitulo">90%</span>
        </div>
    </div>

    <div class="container-barra-progresso-1">

        <div class="barra-progresso-vazia-1">
            <div class="barra-progresso-1"></div>
        </div>

        <div class="porcentagem-barra-progresso-1">
            <span class="porcentagemTitulo">90%</span>
        </div>
    </div>

    <div class="container-barra-progresso-1">

        <div class="barra-progresso-vazia-1">
            <div class="barra-progresso-1"></div>
        </div>

        <div class="porcentagem-barra-progresso-1">
            <span class="porcentagemTitulo">90%</span>
        </div>
    </div>

    <div class="container-barra-progresso-1">

        <div class="barra-progresso-vazia-1">
            <div class="barra-progresso-1"></div>
        </div>

        <div class="porcentagem-barra-progresso-1">
            <span class="porcentagemTitulo">90%</span>
        </div>
    </div>

    <div class="container-barra-progresso-1">

        <div class="barra-progresso-vazia-1">
            <div class="barra-progresso-1"></div>
        </div>

        <div class="porcentagem-barra-progresso-1">
            <span class="porcentagemTitulo">90%</span>
        </div>
    </div>

</div>


<link href="~/css/GraficosBarra.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/GraficosBarra.js"></script>






