@{
    ViewData["Title"] = "Home Page";
}

<h1>Mundo Dev</h1>

<div id="slide-container" class="slide-container">
    <div id="foto-slide" class="foto-slide"></div>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/FotosPaginaInicial.js"></script>
<link href="~/css/FotosPaginaInicial.css" rel="stylesheet" />





