@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="titulo-pagina">
    Mundo Dev - Marcos Keller - Entendendo as Propriedades de Transição do CSS
</div>

<div class="container">
    <div class="box-one"><strong>Linear</strong></div>
    <div class="box-two"><strong>Ease-In</strong></div>
    <div class="box-tree"><strong>Ease-Out</strong></div>
    <div class="box-four"><strong>Ease-In-Out</strong>Ease-In-Out</></div>
</div>


<link href="~/css/transicao.css" rel="stylesheet" />