

.container-barra-progresso {
    width: 500px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    justify-items: center;
    box-shadow: 0 10px 16px 0 #808080;
    margin-top: 25%;
    margin-left: 25%;
}

.barra-progresso-vazia {
    width: 78%;
    height: 20px;
    margin: auto;
    background: beige;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.barra-progresso {
    height: 18px;
    border-radius: 20px;
    background: aqua;
    transition: width 0.5s;
}

.porcentagem-barra-progresso {
    margin-left: auto;
    width: 60px;
    height: 60px;
    background: aliceblue;
    border-radius: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 8px;
    font-family:cursive;
}
