
.titulo {
    width: 100%;
    height: 80px;
    box-shadow: 0px 5px 15px #808080;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    background:aliceblue;
    /*Configuracao do Texto*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #695feb;
    font-weight: 600;
}

.container-botao {
    width: 100%;
    height: 200px;
    box-shadow: 0px 5px 15px #808080;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: aliceblue;
}

.botao-upload-vazio {
    width: 150px;
    height: 50px;
    border-radius: 7px;
    background: #968ff3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botao-upload-porcentagem {
    height: 50px;
    border-radius: 7px;
    background: #695feb;
    margin-right: auto;
    transition: width 0.5s;
}


.descricao-botao {
    position:absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}