

.titulo {
    font-size: 30px;
    font-weight: 600;
    font-family: cursive;
    background: #00000021;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.24);
    margin-bottom: 40px;
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-barra-progresso-1 {
    width: 100px;
    height:500px;
    border-radius: 7px;
    display: flex;
    box-shadow: 0 10px 16px 0 #808080;
    margin-top: 7%;
    margin-left:4%;
}

.barra-progresso-vazia-1 {
    width: 20px;
    height: 82%;
    margin-left: 38px;
    margin-top: 79px;
    background: beige;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.barra-progresso-1 {
    position: absolute;
    bottom: 163px;
    margin-left: 1.9px;
    border-radius: 10px;
    background: aqua;
    width: 18px;
    height: 10%;
}

.porcentagem-barra-progresso-1 {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: whitesmoke;
    border: 1px solid black;
    border-style: dashed;
    position: absolute;
    margin-left: 25px;
    top: 300px;
    display: flex;
    justify-content: center;
}

.porcentagemTitulo {
    font-size: 12px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 15px;
    position: absolute;
}